body {
    background-color: #ccc;
    background-size: 180%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: -150px 0;
}

.img-logo {
    width: 100%;
    margin-top: -60px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    margin-left: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.title-forget-password {
    text-align: left;
}

.text-forget-password {
    text-align: left;
}

form {
    text-align: center;
    margin-top: 30px;
}

input[type="email"],
input[type="number"] {
    width: 75%;
    padding: 15px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #003997;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 20px;
}
  
input[type="submit"]:hover {
    background-color: #007bff;
}

a {
    text-decoration: none;
    color: white;
}

#button-create-account {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 20px;
}