body {
    background-image: url(../img/background-page-register-login.png);
    background-size: 120%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: -150px 0;
}

.img-logo {
    width: 100%;
    margin-top: -60px;
}

a {
    text-decoration: none;
    color: white;
}

.button-container{
    text-align: center;
}

#button-login, #button-register{
    background-color: transparent;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 50px;
}

form {
    text-align: center;
    margin-top: 30px;
}

input[type="email"],
input[type="password"] {
  width: 75%;
  padding: 15px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="submit"] {
    background-color: #003997;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 20px;
}
  
input[type="submit"]:hover {
    background-color: #007bff;
}

#button-login2 {
    background-color: #003997;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 20px;
}

#button-login2:hover {
    background-color: #007bff;
}


#button-forget-password {
    background-color: transparent;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 30px;
}